<ul class="share-actions pull-right">

  <li><a href="<%= new_blog_path %>" 
      data-remote="true" data-toggle="modal" title="New Blog Entry"
      data-target="#modal-window"> 
    <i class="icon-plus-sign"> </i>
  </a></li>

  <li><a href="<%= edit_blog_path(blog) %>" 
      data-remote="true" data-toggle="modal" title="Edit <%= blog.title %>"
      data-target="#modal-window">
    <i class="icon-pencil"> </i>
  </a></li>

  <li><a href="<%= blog_path(blog) %>" data-method="delete" 
      data-confirm="Are you sure?" 
      title="Delete <%= blog.title %>">
    <i class="icon-remove"> </i>
  </a></li>

</ul>
