<ul class="nav nav-pills">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Headlines
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "New Article", :new_admin_article, remote: true %></li>
      <li><%= link_to "Manage Articles", :admin_articles, remote: true %></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Showtimes
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "New Show", :new_admin_show, remote: true %></li>
      <li><%= link_to "Manage Shows", :admin_shows, remote: true %></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Blog Entries
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "New Entry", :new_admin_blog, remote: true %></li>
      <li><%= link_to "Manage Entries", :admin_blogs, remote: true %></li>
    </ul>
  </li>
</ul>
