<div class="span2">
  <div class="dashboard sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Headlines</li>
      <li><%= link_to "Articles", :admin_articles, remote: true %></li>
      <li><%= link_to "New Article", :new_admin_article, remote: true %></li>
      <li class="nav-header">Shows</li>
      <li><%= link_to "Shows", :admin_shows, remote: true %></li>
      <li><%= link_to "New Show", :new_admin_show, remote: true %></li>
      <li class="nav-header">Blog</li>
      <li><%= link_to "Entries", :admin_blogs, remote: true %></li>
      <li><%= link_to "New Entry", :new_admin_blog, remote: true %></li>
    </ul>
  </div>
</div>
