<%= content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<div class="home-page row-fluid">
  <%= render 'navigation' %>

  <div class="span6">
    <div id="panel1" class="module">
      <div class="well-header">
        <span id="item_title" class="bio title">
          <%= @random_entry[2] || @title %>
        </span>
      </div>
      <div class="holdster">
        <ul id="items" class="well-body well-inner">
          <%= render @random_entry[0] %>
        </ul>
      </div>
      <div class="well-bottom" style="margin-bottom: 1em;">
        <a href="#" title="Top"> <i class="icon-arrow-up"></i> </a>
      </div>
    </div>
  </div>

  <div class="span4">
    <div class="module">
      <div class="well-header">
        <div id="close"></div>
        <span id="item_title2" class="bio title">
          <%= @random_entry[3] || @title %>
        </span>
      </div>
      <div class="holdster">
        <div id="panel2">
          <%= render @random_entry[1] %>
        </div>
        <ul id="items2" class="well-body well-inner">
        </ul>
      </div>
      <div class="well-bottom"></div>
    </div>
  </div>
</div>
