<div id="<%= show.id %>" class="well-body well-inner articles">

  <p class="show-title"> 
    <%= link_to show.venue, shows_path %>
    <span class="label label-success">
      <%= show.price_for_show %>
    </span>
  </p>

  <div class="show-actions">
    <%= render(partial: ("shows/actions"), locals: { show: show }) if signed_in? %>
  </div>

  <div class="well-footer center">
    <%= show.date %> at <%= show.time %>

      <div class="shows">
        <%= auto_link(show.address) %>
    </div>
  </div>

</div>
