<tr>
  <td><%= show.date %></td>
  <td><%= show.time %></td>
  <td><%= show.venue %></td>
  <td class="hidden-phone"><%= auto_link(show.address) %></td>
  <td class="price hidden-phone"><%= show.price_for_show %></td>
</tr>
