<li id="fat-menu" class="dropdown">

  <a href="#" class="dropdown-toggle" data-toggle="dropdown">

    Dashboard <b class="caret"></b>
  </a>

  <ul class="dropdown-menu">

    <li class=""><a href="<%= new_show_path %>" 
      data-remote="true" data-toggle="modal" 
      data-target="#modal-window"> New Show </a></li>
    <li class=""><a href="<%= new_blog_path %>" 
      data-remote="true" data-toggle="modal" 
      data-target="#modal-window"> New Blog </a></li>
    <li class=""><a href="<%= new_article_path %>" 
      data-remote="true" data-toggle="modal" 
      data-target="#modal-window"> New Article </a></li>

    <li class="divider"></li>
    <li><%= link_to "Account", edit_user_path(current_user) %></li>
    <li><%= link_to "Sign out", :signout, method: "delete" %></li>
  </ul>

</li>
