<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Future Home For Samuel Raines Music" %>">
    <meta name="author" content="<%= content_for?(:author) ? yield(:author) : "Artist: Samuel Guy Raines, Designer: Nathan Carl Couch" %>">
      <%= auto_discovery_link_tag(:atom, { controller: "articles", action: "index" },
                                  { title: "Sam Raines Official Music Updates" } )%>
      <%= stylesheet_link_tag "application", media: "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <%= render 'layouts/shim' %>
      <%= yield(:head) %>
    </head>
    <body>
      <%= render 'shared/modal' if signed_in? %>
      <div class="masthead">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <%= render 'layouts/navigation' %>
            </div>
          </div>
        </div>
      </div>
      <div class="page-wrapper" id="main" role="main">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
      <footer class="footer">
        <div class="container">
          <%= render 'layouts/footer' %>
      </div>
    </footer>
  </body>
</html>
